 body {
     font-family: Arial, sans-serif;
     margin: 20px;
     background: #e8b84ff9;
     text-align: center;
 }

 .trailer-box {
     border: 0.5px solid #000;
     padding: 15px;
     margin-bottom: 20px;
     background: #fff;
     height: 400px;
     width: 81%;
     margin-left: auto;
     margin-right: auto;
 }

 .trailer-box video {
     height: 400px;
     width: 100%;
 }

 .movie-details,
 .review,
 .feedback {
     margin: 15px 0;
     text-align: left;
     max-width: 500px;
     margin-left: auto;
     margin-right: auto;
 }

 .stars {
     color: gold;
     font-size: 20px;
 }

 .feedback-box {
     border: 2px solid #000;
     padding: 10px;
     background: #fff;
 }

 .feedback-box p {
     margin: 8px 0;
 }

 .book-btn {
     margin-top: 20px;
     padding: 10px 20px;
     font-size: 18px;
     border: 2px solid #000;
     border-radius: 25px;
     background: #e27575;
     cursor: pointer;
 }

 .book-btn:hover {
     background: linear-gradient(rgb(113, 164, 235), rgb(250, 185, 196), rgba(225, 225, 147, 0.874));
 }

 .back-btn {
     display: inline-block;
     padding: 10px 18px;
     background-color: #d31242;
     color: #fff;
     margin-left: 170px;
     text-decoration: none;
     border-radius: 6px;
     font-family: Arial, sans-serif;
     font-size: 14px;
     font-weight: bold;
     transition: background 0.3s ease, transform 0.2s ease;
 }

 .back-btn:hover {
     background-color: #0056b3;
     transform: translateY(-2px);
 }

 .back-btn:active {
     background-color: #11d2b5;
     transform: translateY(-2px);
 }